<h1>Editing acl</h1>

<% form_for(@acl) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :query %><br />
    <%= f.text_field :query %>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.label :site_id %><br />
    <%= f.text_field :site_id %>
  </p>
  <p>
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </p>
  <p>
    <%= f.label :exec_group_id %><br />
    <%= f.text_field :exec_group_id %>
  </p>
  <p>
    <%= f.label :exec_skin_id %><br />
    <%= f.text_field :exec_skin_id %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @acl %> |
<%= link_to 'Back', acls_path %>