<td class="adm_icon">
  <%= unless @relation.new_record?
    link_to_remote _('btn_x'), :url => relation_path(@relation), :method => :get
  else
    link_to_function _('btn_x'), "['add_relation', 'add_relation_form'].each(Element.toggle)"
  end %>
</td>
<td class="add" colspan="8">
  <div id='relation_errors'><%= error_messages_for(@relation) %></div>
  <% unless @relation.new_record? %>
  <%= form_remote_tag(:url => relation_path(@relation), :method => :put ) %>
  <% else %>
  <%= form_remote_tag(:url => relations_path ) %>
  <% end %>
  <table cellspacing='0' class='edit_relation'>
    <tr><th></th><th><%= _('source') %></th><th><%= _('target') %></th></tr>
    <tr><td class="label" ><%= _('icon') %></td>   
      <td class="source" ><%= text_field('relation', 'source_icon', :size=>18 ) %></td>
      <td class="target" ><%= text_field('relation', 'target_icon', :size=>18 ) %></td>
    </tr>
    <tr><td class="label" ><%= _('role') %></td>   
      <td class="source" ><%= text_field('relation', 'source_role', :size=>18 ) %></td>
      <td class="target" ><%= text_field('relation', 'target_role', :size=>18 ) %></td>
    </tr>
    <tr><td class="label" ><%= _('type') %></td>   
      <td class="source" ><%= radio_button("relation", "source_unique", true) %> <%= _('relation_img') %>
                          <%= radio_button("relation", "source_unique", false) %> <%= _('relations_img') %></td> 
      <td class="target" ><%= radio_button("relation", "target_unique", true) %> <%= _('relation_img') %>
                          <%= radio_button("relation", "target_unique", false) %> <%= _('relations_img') %></td>
    </tr>
    <tr><td class="label"><%= _('kpath') %></td>   
      <td class="source"><%= select('relation', 'source_kpath', Node.kpaths_for_form ) %></td>
      <td class="target"><%= select('relation', 'target_kpath', Node.kpaths_for_form ) %></td>
    </tr>
    <tr><td colspan='3'><p class='btn_validate'><input type='submit' value='<%= _('validate') %>'/></p></td></tr>
  </table>
  </form>
  <% unless @relation.new_record? -%>
  <%= form_remote_tag(:url => relation_path(@relation), :method => :delete, :confirm => _('Are you sure you want to destroy this relation ?') ) %>
  <p class='destroy'><%= _('destroy relation (with all links)') %> <input type='submit' value='<%= _('destroy') %>'></p>
  </form>
  <% end -%>
</td>