<tr id='relation<%= li[:id] %><%= show_dir %>'>
  <td class='adm_icon'><%= link_to_remote(_('img_relation'),
          :update =>"relation#{li[:id]}#{show_dir}",
          :url    => edit_relation_path(li, :dir => show_dir),
          :method => :get) %></td>
<% if show_dir == 'src' -%>
  <td class='adm_icon'>
    <%= li.target_unique? ? _('img_has_one') : _('img_has_many') %>
  </td>
  <td class='name'>
    <%= li.target_role %>
  </td>
  <td class='other'>
    <%= VirtualClass.find_by_kpath(li.target_kpath).to_s %>
  </td>
<% else -%>
  <td class='adm_icon'>
    <%= li.source_unique? ? _('img_has_one') : _('img_has_many') %>
  </td>
  <td class='name'>
    <%= li.source_role %>
  </td>
  <td class='other'>
    <%= VirtualClass.find_by_kpath(li.source_kpath).to_s %>
  </td>
<% end -%>
  </td>
</tr>