<h3><%= _('manage relations') %></h3>

<table id='relation_list' class='admin' cellspacing="0">
  <tr><th class='nav' colspan='9'>
  <p class='next_page'><%= link_to _('img_next_page'), { :page => @relation_pages.current.next } if @relation_pages.current.next %></p>
  <p class='prev_page'><%= link_to _('img_prev_page'), { :page => @relation_pages.current.previous } if @relation_pages.current.previous %></p></th></tr>
  <%= render :partial=>'relations/li',  :collection=>@relations %>
  <%= render :partial=>'relations/add' %>
</table>