<div id='login_form'><div>
  <% form_tag login_path do -%>
    <table>
      <tr>
        <td><label for='user_login'><%= trans('User name:') %></label></td>
        <td><%= text_field_tag(:login, params[:login], :size=>20) %></td>
      </tr>
      <tr>
        <td><label for='user_password'><%= trans('Password:')%></label></td>
        <td><%= password_field_tag(:password, nil, :size=>20) %></td>
      </tr>
      <tr><td></td><td><%= submit_tag ' login ' %></td></tr>
    </table>
  <% end -%>
</div></div>