<div id='content'>
  <h3><%= trans('manage users') %></h3>
  
  <table id='user_list' class='admin_ug' cellspacing="0">
    <%= render :partial=>'users/li',  :collection=>@users %>
    <%= render :partial=>'users/add', :locals=>{:groups=>@groups} %>
  </table>  
  <%= tlink_to "Previous page", { :page => @user_pages.current.previous } if @user_pages.current.previous %>
  <%= tlink_to "Next page", { :page => @user_pages.current.next } if @user_pages.current.next %>
</div>

<div id='right'>
</div>