<h2 class='title'><%= @user.login %> : <%= _('preferences') %> </h2>

<ul class='actions admin_group' id='preferences'>

  <li>
    <div id='user_info'>
      <p><%= link_to_function _('change personal information'), "['user_info', 'user_set_info'].each(Element.toggle); $('user_login').focus();" %></p>
    </div>
    <div id='user_set_info' style='display:none;'>
      <p><%= link_to_function _('cancel'), "['user_info', 'user_set_info'].each(Element.toggle);" %></p>
      <div id='user_info_errors' class='errors'></div>
      <%= form_remote_tag(:url => user_path(@user[:id]), :method => :put) %>
      <div class='hidden'><input type='hidden' name='update' value='info'/></div>
      <ul>
        <li id='user_info_errors'></li>
        <li class='align'><%= _('login')%>      <span><%= text_field('user', 'login',        :size=>25 ) %></span></li>
        <li class='align'><%= _('language')%>   <span><%= select('user', 'lang', current_site.lang_list.map{|l| [_(l),l]} ) %></span></li>
        <li class='align'><%= _('time zone')%>  <span><select name='user[time_zone]'><%= options_for_select([''] + TZInfo::Timezone.all_identifiers, @user[:time_zone] || '') %></select></span></li>
        <li><p class='btn_validate'><input type='submit' value='<%= _('validate') %>'/></p></li>
      </ul>
      </form>
    </div>
  </li>

  <li>
    <div id='user_pass'>
      <p><%= link_to_function _('change password'), "['user_pass', 'user_set_pass'].each(Element.toggle); $('user_old_password').focus();" %></p>
    </div>
    <div id='user_set_pass' style='display:none;'>
      <p><%= link_to_function _('cancel'), "['user_pass', 'user_set_pass'].each(Element.toggle); $('user_password').value='';" %></p>
      <div id='user_pass_errors' class='errors'></div>
      <%= form_remote_tag(:url => user_path(@user[:id]), :method => :put) %>
      <div class='hidden'><input type='hidden' name='update' value='pass'/></div>
      <ul>
        <li class='align'><%= _("old password")%> <span><%= password_field('user', 'old_password',       :size=>20, :value=>'' ) %></span></li>
        <li class='align'><%= _("new password")%> <span><%= password_field('user', 'password',           :size=>20, :value=>'' ) %></span></li>
        <li class='align'><%= _("retype new password")%> <span><%= password_field('user', 'retype_password', :size=>20, :value=>'' ) %></span></li>
        <li><p class='btn_validate'><input type='submit' value='<%= _('validate') %>'/></p></li>
      </ul>
      </form>
    </div>
  </li>
</ul>