<tr id='column<%= li[:id] %>'>
  <td class="adm_icon"><%= (li.new_record? || !li.errors.empty?) ? _('column_error_img') : link_to_remote( _('column_img'),
          :update =>"column#{li[:id]}",
          :url    => edit_column_path(li),
          :method => :get) %></td>
  <td class='ruby'>
    <span class='spacer'><%= (li.role.kind_of?(VirtualClass) ? '+ ' : '<span>* </span>') %></span>
    <span class='constant'><%= li.role.name %></span>
    <span class='text'>p.<%= li.ptype %></span>
    <span class='string'>'<%= li.name %>'<span><%= li.import_result ? " (#{li.import_result})" : ''%><% if !li.index.blank? -%>, <span class='symbol'>:index</span> =&gt; <span class='symbol'>:<%= li.index_name %></span><% end -%>
  </td>
</tr>