<td class='adm_icon'>
  <%= unless @virtual_class.new_record?
    link_to_remote _('btn_x'), :url => virtual_class_path(@virtual_class), :method => :get
  else
    link_to_function _('btn_x'), "['add_virtual_class', 'add_virtual_class_form'].each(Element.toggle)"
  end %>
</td>
<td class='add' colspan='3'>
  <div id='virtual_class_errors'><%= error_messages_for(:virtual_class, :object => @virtual_class) %></div>
  <% if @virtual_class.new_record? %>
  <%= form_remote_tag(:url => virtual_classes_path ) %>
  <% else %>
  <%= form_remote_tag(:url => virtual_class_path(@virtual_class), :method => :put ) %>
  <% end %>
  <table cellspacing='0' class='edit_virtual_class'>
    <tr><td class='label'><%= _('name')%>      </td><td><%= text_field('virtual_class', 'name',        :size=>15 ) %></td></tr>
    <tr><td class='label'><%= _('superclass')%></td><td><%= select('virtual_class', 'superclass',  Node.classes_for_form(:without => (@virtual_class.new_record? ? nil : @virtual_class.to_s)), :selected => @virtual_class.superclass.to_s ) %></td></tr>

<% Zena::Use::Fulltext::FULLTEXT_FIELDS.reverse_each do |fld| -%>
    <tr><td class='label'><%= _(fld)%></td><td><%= text_area('virtual_class', fld, :rows => 2, :cols => 30) %></td></tr>
<% end -%>

    <tr><td class='label'><%= _('create group')%></td><td><%= select('virtual_class', 'create_group_id',  visitor.groups.map{|g| [g.name, g.id]} ) %></td></tr>
    <tr><td class='label'><%= _('auto create discussion')%></td><td><%= check_box('virtual_class', 'auto_create_discussion') %></td></tr>
    <tr><td class='label'><%= _('icon')%>      </td><td><%= text_field('virtual_class', 'icon',        :size=>15 ) %></td></tr>
    <tr><td colspan='3'><p class='btn_validate'><input type='submit' value='<%= _('validate') %>'/></p></td></tr>
  </table>
  </form>
  <%# Class destruction not enabled because we first need to know what to do with instances... %>
  <% if false && !@virtual_class.new_record? -%>
  <%= form_remote_tag(:url => virtual_class_path(@virtual_class), :method => :delete, :confirm => _('Are you sure you want to destroy this virtual class ?') ) %>
  <p class='destroy'><%= _('destroy virtual class') %> <input type='submit' value='<%= _('destroy') %>'></p>
  </form>
  <% end -%>
</td>