<% if li.kind_of?(Class) -%>
<tr class='real_class'>
  <td class="adm_icon"><%= _('virtual_class_img') %></td>
  <td class='ruby'><span class='spacer'><%= li.kpath[1..-1].gsub(/./, '| ') + '+ ' %></span><span class='constant'><%= li.name %></span></td>
  <td>&nbsp;</td>
  <td class="auto_create_discussion" >&nbsp;</td>
</tr>
<% else -%>
<tr id='virtual_class<%= li[:id] %>'>
  <td class="adm_icon"><%= (li.new_record? || !li.errors.empty?) ? _('virtual_class_error_img') : link_to_remote( !li.icon.blank? ? "<img src='#{li.icon}'/>" : _('virtual_class_img'),
          :update =>"virtual_class#{li[:id]}",
          :url    => edit_virtual_class_path(li),
          :method => :get) %></td>
  <td class='ruby'>
    <span class='spacer'><%= li.kpath[1..-1].gsub(/./, '| ') %><%= li.kind_of?(VirtualClass) ? '+ ' : '| <span>* </span>' %></span>
    <span class='constant'><%= li.name %><%= (li.kind_of?(VirtualClass) && li.import_result) ? " (#{li.import_result})" : ''%></span>
  </td>
  <td class='idx'><%= (Zena::Use::Fulltext::FULLTEXT_FIELDS.map {|fld| li[fld].blank? ? nil : fld.gsub('idx_text_','')} + li[:prop_eval] ? ['prop'] : []).compact.join(', ') %>
  <td class="auto_create_discussion" ><%= li.auto_create_discussion ? _('auto discussion') : '' %></td>
</tr>
<% end -%>