<td class='icon'>
  <%= unless @site.new_record?
    link_to_remote _('btn_x'), :url => site_path(@site), :method => :get
  else
    link_to_function _('btn_x'), "['add_site', 'add_site_form'].each(Element.toggle)"
  end %>
</td>
<td class='add' colspan='8'>
  <div id='site_errors'><%= error_messages_for(@site) %></div>
  <% unless @site.new_record? %>
  <%= form_remote_tag(:url => site_path(@site), :method => :put ) %>
  <% else %>
  <%= form_remote_tag(:url => sites_path ) %>
  <% end %>
  <table cellspacing='0' class='edit_site'>
    <tr><td class='label'><%= _('host') %></td><td><%= @site[:host] %></td></tr>
    <% Site.attributes_for_form[:text].each do |sym| -%>
    <tr><td class='label'><%= _(sym.to_s.sub(/\Ad_/,'').sub('_',' ')) %></td><td><%= text_field('site', sym, :size=>nil) %></td></tr>
    <% end -%>
    <tr><td class='label'><%= _('redit_time') %></td><td><%= text_field('site', :redit_time, :size=>15, :value => @site.redit_time) %></td></tr>
    <tr><td class='label'><%= _('public group') %></td><td><%= @site.public_group.name %></td></tr>
    <tr><td class='label'><%= _('site group') %></td><td><%= @site.site_group.name %></td></tr>
    <tr><td class='label'><%= _('options') %></td><td>
    <% Site.attributes_for_form[:bool].each do |sym| -%>
    <input type='hidden' name='site[<%= sym %>]' value=''/>
    <input type='checkbox' name='site[<%= sym %>]' value='1'<%= @site[sym] ? " checked='checked'" : '' %>/> <%= _(sym.to_s) %>
    <% end -%>
    </td></tr>
    <% if !@site.new_record? %>
    <tr><td class='label'><%= _('clear cache') %></td><td id='clear_site<%= @site[:id] %>'>
        <%= link_to_remote _('clear cache'), :url => clear_cache_site_path(@site), :confirm => _('Are you sure you want destroy all cache (site may be slow during first reloads) ?') %>
    </td></tr>
    <% end %>
    <tr><td colspan='2'><p class='btn_validate'><input type='submit' value='<%= _('validate') %>'/></p></td></tr>
  </table>
  </form>
</td>