<% if @state == :wait -%>
  <h2><%= _('Updating...') %></h2>
  <p><%= _('Please wait while the code is updated and the site restarts (page reloads every 30s).') %></p>
<% elsif @state == :done -%>
  <h2><%= _('Up to date') %></h2>
  <p><%= _('Your site is running the latest version of zena.') %> (<%= Zena::VERSION::STRING %> r<%= @target_rev %>)</p>
<% else -%>
  <h2><%= _('Update') %></h2>
  <p><%= sprintf(_('Your site is running rev %i, newest revision is %i.'), @current_rev, @target_rev) %></p>
  <p><%= link_to(_('Update'), :action => 'zena_up', :run => 'start', :rev => @target_rev) %></p>
<% end -%>