<tr id='data_entry<%= li[:id] %>'>
  <td class='date'> <%= format_date(li.date, :format =>_('datetime')) %></td>
  <td class='text'> <%= li.text %></td>
  <td class='value'><%= li.value %></td>
  <td class='node'><%= li.node ? li.node.name : ''%></td>
  <td class='node'><%= li.ref_a ? li.ref_a.name : ''%></td>
  <td class='node'><%= li.ref_b ? li.ref_b.name : ''%></td>
  <td class='node'><%= li.ref_c ? li.ref_c.name : ''%></td>
</tr>